.pizzaItem {
  flex: 1 0 25%;
  margin: 0px 0px 65px 0px;
  padding: 0px 28px;
}

.img {
  margin: 0px 0px 11px 0px;

  img {
    width: 100%;
    max-width: 100%;
    transition: 0.5s ease;

    &:hover {
      transform: scale(1.05);
    }
  }

}

.name {
  position: relative;
  z-index: 2;
  color: #000;
  margin: 0px 0px 22px 0px;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 0.2px;
  text-align: center;
}

.settings {
  background-color: #F3F3F3;
  margin: 0px 0px 17px 0px;
  padding: 7px;
  border-radius: 10px;
}

.dough {
  display: flex;
  margin: 0px 0px 7px 0px;
  align-items: center;
  justify-content: space-between;
}

.size {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price {
  color: #000;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.33px;
}

.add {
  display: flex;
  position: relative;
  color: #EB5A1E;
  max-height: 40px;
  padding: 11px 18px 11px 37px;
  border: 1px solid #EB5A1E;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease;
  cursor: pointer;

  &:before,
  &::after {
    content: '';
    position: absolute;
    top: 47%;
    left: 17px;
    background-color: #EB5A1E;
    width: 12px;
    height: 2px;
    transition: 0.4s ease;
  }

  &::after {
    transform: rotate(90deg);
  }

  &:hover {
    background-color: #EB5A1E;
    color: #FFF;

    &:before,
    &::after {
      background-color: #FFF;
    }

    .counter {
      color: #EB5A1E;
      background-color: #FFF;
    }
  }
}

.counter {
  display: flex;
  color: #FFF;
  background-color: #EB5A1E;
  width: 24px;
  height: 24px;
  margin: 0px 0px 0px 6px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease;
}

.none {
  display: none;
}