.title {
  color: #000;
  margin: 0px 0px 10px 0px;
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.32px;
  text-align: center;
}

.subTitle {
  color: #777;
  margin: 0px 0px 47px 0px;
  font-size: 18px;
  line-height: 145.4%;
  letter-spacing: 0.18px;
  text-align: center;
}

.img {
  display: block;
  text-align: center;

  img {
    max-width: 100%;
  }
}