.menu {
  display: flex;
  margin: 0px 0px 35px 0px;
  align-items: center;
  justify-content: center;

  @media (max-width: 893px) {
    flex-wrap: wrap;
  }
}

.typeMenu {
  flex: 0 1 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (max-width: 893px) {
    flex: 1 1 100%;
    margin: 0px 0px 15px 0px;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
}

.sortMenu {
  flex: 0 1 20%;
  padding: 0px 0px 0px 15px;
  white-space: nowrap;

  @media (max-width: 893px) {
    flex: 1 1 100%;
    padding: 0px 0px 0px 0px;
  }
}